.menu-animation-1{
    opacity: 0;
    padding-top: 30px;
    -webkit-transition: 1s all ease;
}

.menu-animation-2{
    opacity: 0;
    padding-bottom: 30px;
    -webkit-transition: 1s all ease;

}

#logo-animation{
    position: relative;
    left: -70px;
    opacity: 0;
    -webkit-transition: 1s all ease;
}

#hamburguer-animation{
    position: relative;
    right: -70px;
    opacity: 0;
    -webkit-transition: 1s all ease;

}

#animation-landing-1{
    position: relative;
    top: 70px;
    opacity: 0;
    -webkit-transition: 1s all ease;

}


#animation-landing-2{
    position: relative;
    top: -70px;
    opacity: 0;
    -webkit-transition: 1s all ease;

}


#animation-landing-3{
    position: relative;
    right: -70px;
    opacity: 0;
    -webkit-transition: 2s all ease;

}

#nosotros-1,#nosotros-2,#nosotros-3,#servicios-1,#servicios-2,.servicios-item,
#animation-momento-1,#animation-momento-2,.es-momento-item,.contacto-item{
    opacity: 0;
    top: 50px;
    position: relative;
    -webkit-transition: all 1s ease;
}

@keyframes titulosIn{
    0%{
        opacity: 1;
    }
}