.contacto{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.contacto .container{
    display: flex;
    padding-bottom: 55px;
    justify-content: center;
}

.contacto .datos{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contacto .datos. label{
    margin: 15px 0px;
}

.contacto .datos input{
    width: 300px;
    height: 25px;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 30px;
    border: 1px solid lightgrey;
    background-color: transparent;
}


.mensaje{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.mensaje textarea {
    width: 95%;
    padding: 20px;
    height: 200px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
}


.mensaje .container-rs
{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mensaje .container-rs img{
    width: 50px;
}

.mensaje button{
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #ffde59;
}

@media(max-width:900px){
    .contacto .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacto .datos{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contacto .datos input{
        width: 95%;
    }

    .contacto .datos label{
        width: 95%;
    }

    .contacto .mensaje{
        width: 100%;
        align-items: center;
        justify-content: center;
           }

    .container-rs{
        width: 100%;
    }

    .mensaje label{
        width: 95%;
    }
}

@media(max-width: 450px){
    .contacto .container{
        padding-bottom: 105px;
    }
    .container-rs{
        flex-direction: column;
    }

    .mensaje button{
        margin-top: 80px;
        margin-bottom: 30px;
    }

}